<div class="black white-text no-margin full-width center-xs">
    <h1 class="white-text no-margin">Contrato para Guatemala</h1>
    <p class="white-text">Por favor llene los siguientes datos para los datos del contrato</p>
</div>
<div class="row center-xs middle-xs full-height">
    <div class="col-xs-12 col-sm-8">
        <div class="box">
            <%= render 'form', contract: @contract %>
        </div>
    </div>
</div>
