<div class="black white-text no-margin full-width center-xs">
    <h1 class="white-text no-margin">Avances de Tesis</h1>
    <p class="white-text">Por favor llene los siguientes datos para su cotización y envíe el mismo con la documentación que considere necesaria.</p>
</div>
<div class="row center-xs middle-xs full-height">
    <div class="col-xs-12 col-sm-8">
        <div class="box">
            <%= render 'form', thesis: @thesis %>
        </div>
    </div>
</div>
