<div class="row center-xs middle-xs full-height">
    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <div class="big-padding black">
                <h1 class="white-text">Tarifas</h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="box">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">A. Servicio Básico:</h2>
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Q7,485</h2>
                                </div>
                                <div class="mdl-card__title">
                                    <p class="mdl-card__subtitle-text">(pagos durante 3 meses, o sea el monto dividio en 3, con tarjeta de crédito odébito, o 12 visacuotas) </p>
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Q6,485 </h2>
                                </div>
                                <div class="mdl-card__title">
                                    <p class="mdl-card__subtitle-text">pago de contado, es decir, en efectivo.</p>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <ul class="demo-list-icon mdl-list">
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Colaboración en propuesta de temas (gratis)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Colaboración en desarrollo de Plan, protocolo o anteproyecto (gratis)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Tesis o equivalente
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Correcciones de FONDO (ilimitadas) en todas las 3 etapas.
                                        </span>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="box">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">B. Servicio Completo:</h2>
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Q8,485</h2>
                                </div>
                                <div class="mdl-card__title">
                                    <p class="mdl-card__subtitle-text">(pagos durante 3 meses, o sea el monto dividio en 3, con tarjeta de crédito odébito, o 12 visacuotas) </p>
                                </div>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Q7,485</h2>
                                </div>
                                <div class="mdl-card__title">
                                    <p class="mdl-card__subtitle-text">pago de contado, es decir, en efectivo.</p>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <ul class="demo-list-icon mdl-list">
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Colaboración en propuesta de Tema (gratis)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Colaboración en desarrollo de Plan, protocolo o anteproyecto (gratis)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Tesis o equivalente
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Correcciones de FONDO (ilimitadas) en todas las etapas
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Correcciones de FORMA (ilimitadas) en todas las etapas
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Acompañamiento y asesoría profesional (de forma remota)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Participación del departamento de Edición (es decir, adecuación del trabajo a manuales de forma en específico)
                                        </span>
                                      </li>
                                      <li class="mdl-list__item">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">assignment_turned_in</i>
                                            Participación del departamento de Filología o lingüistica.
                                        </span>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-top">
                    <%= link_to "Siguiente", new_contract_path, class:'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'%>
                </div>
            </div>
        </div>
    </div>
</div>
