/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .demo-list-icon {
  width: 300px;
}

.btn-disabled{
    color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.margin-top{
    margin-top: 2em;
}

.margin-right{
    margin-right: 1em;
}

.no-margin{
    margin: 0;
}

.text-right{
    text-align: right;
}

 .full-height{
     height: 100%;
 }

 .full-width{
     width: 100%;
 }

.black{
    background-color: black !important;
}

.white{
    background-color: white !important;
}

.white-text{
    color: white !important;
}

.black-text{
    color: black !important;
}

.big-padding{
    padding: 20px 15px;
}
